#
# @file     apple1.cfg
# @brief    Apple1 RAM is $0000-$0FFF, so from $0280 you have $0D80 bytes.
#
#           The Makefile provides the absolute or origin address. It is used to generate
#           an absolute listing file when using the assembler.
#           The ORIGIN is used to set the right values in this linker file. It also
#           recalculates the RAM size too. 

SYMBOLS {
    # there is a defined origin address - which could be problematic...
    # it is defined weak, so it is overruled by the Makefile
    __LOAD__: type = weak, value = $0280;
}

MEMORY {
    # RAM: start = $0280, size = $0D80, file = %O;
    # Assuming 4k memory (Apple1)
    RAM: start = __LOAD__, size = $1000 - __LOAD__, file = %O;
}

SEGMENTS {
    CODE:   load = RAM, type = ro;
    RODATA: load = RAM, type = ro,  optional = yes;
    DATA:   load = RAM, type = rw,  optional = yes;
    BSS:    load = RAM, type = bss, optional = yes, define = yes;
}
